@import url('https://fonts.googleapis.com/css?family=Lato');
@import "flash.css";

html, body, div {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

form input, form button {
    margin-bottom: 1em;
}

footer, footer a {
    color: #f5f5f5;
}

footer {
    margin: 4em 0 0 0;
    font-size: .8em;
    padding: 2em 0;
    background-color: #777;
}

#maincontainer, #footer {
    max-width: 800px;
    margin: 0 auto;
}

#footer {
    padding: 0 0 0 1em;
}

.card {
    -webkit-transition: all 0.5s linear;
    transition: all 0.2s linear;
    background-color: #fff;
}

.card a{
    text-decoration: none;
}

.card:hover {
    -webkit-transition: all 0.5s linear;
    transition: all 0.2s linear;
    background-color: #eee;

    text-decoration: none;
}