<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p>{{ user.username }}</p>
            {% for role in user.roles %}
            <p>{{ role }}</p>
            {% endfor %}
            <p><a href="{{ path('admin_edit', {'id': user.id}) }}">Edit</a></p>
        </div>
    </div>
</div>