{% extends 'base.html.twig' %}
{% block body %}
    <h1>Admin Controls</h1>
    <p><a href="{{ path('admin_users') }}">View All Users</a></p>
    <p><a href="{{ path('admin_new') }}">Create New User</a></p>
{% endblock %}
