{% for flash_message in app.session.flashBag.get('notice') %}
<div class="flash flash-notice">
    {{ flash_message }}
</div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('warning') %}
    <div class="flash flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}