{% extends 'base.html.twig' %}

{% block title %}My Items{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="row">
            {% if items|length > 0 %}
                {% for item in items %}
                    {% include 'item/card.html.twig' %}
                {% endfor %}
            {% else %}
            <div>
                No items exist.
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}